name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    steps:
      - name: Checkout of code
        actions: checkout@v4

      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build binary
        run: sh -c ./scripts/buildprod.sh
